/* CSS para Matheus Eduardo's Portfolio*/

body {
    background-image: url(img/Background2.png);
    background-position: 50% 50%;
    background-size: cover;
}

h3 {
    text-align:center;
}

.img {
    width: 200px;
    border-radius: 100%;
    float: left;
}

.box {
    color:#06223e;
    background-color:#f6f7f6;
    opacity: 80%;
}

.header-content {
    width: 700px;
    line-height: 20px;
    padding: 70px 70px;
    margin-left: 5%;
    max-width: 40%;
    margin-top: 5%;
}

.header-list-line {

}

.main {
    text-align: justify;
    width: 800px;
    line-height: 20px;
    padding: 70px 70px;
    margin-left: 65px;
    max-width: 40%;
    margin-top: -70px;
}

.section-text {

}

.academica {
}

.projetos {

}

.footer {
    
}